@font-face {
    font-family: "ComicSans";
    src: url("../fonts/Comic\ Sans\ MS\ Regular.eot");
    src: local("☺"), url("../fonts/Comic\ Sans\ MS\ Regular.woff") format("woff"),
        url("../fonts/Comic\ Sans\ MS\ Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
