html,
body {
    height: 100%;
    background: #11071f;
    font-family: "ComicSans";
    // font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 100px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0) 100%);
            border-radius: 100px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0) 100%);
            border-radius: 100px;
    }
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
            rgba(105, 59, 147, 0.2) 0%,
            rgba(110, 191, 244, 0.04) 77.08%,
            rgba(70, 144, 212, 0) 100%);
    border-radius: 4px;
    padding: 6px 5px;

    span {
        width: 100%;
        height: 1px;
        border-radius: 12px;
        background: #fff;
        transition: transform 0.3s, opacity 0.3s;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
}

.main {
    flex: 1 0 auto;
}

.big-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.typed::after {
    content: "|";
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-cursor {
    opacity: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0) 100%);
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s, border 0.3s;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: transparent;

    // position: relative;
    // overflow: hidden;
    // &::before {
    // 	content: '';
    // 	width: calc(100% + 2px);
    // 	height: calc(100% + 2px);
    // 	position: absolute;
    // 	top: -1px;
    // 	left: -1px;
    // 	right: -1px;
    // 	bottom: -1px;
    // 	z-index: -1;
    // 	opacity: 0;
    // 	transition: opacity 0.3s;
    // 	background: radial-gradient(
    //         151.92% 127.02% at 15.32% 21.04%,
    //         rgba(105, 59, 147, 0.2) 0%,
    //         rgba(110, 191, 244, 0.04) 77.08%,
    //         rgba(70, 144, 212, 0) 100%
    //     );
    // }
    &:hover {
        color: #11071f !important;
        border: 1px solid transparent !important;
        background: #fff !important;
        // &::before {
        // 	opacity: 1;
        // }
    }
}

.tag {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0 8px;
    border-radius: 8px;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
            rgba(105, 59, 147, 0.2) 0%,
            rgba(110, 191, 244, 0.04) 77.08%,
            rgba(70, 144, 212, 0) 100%), #11071f;
    background: #7127ba;
}

@keyframes socialsButtonsOpacityAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.socials {
    z-index: 100;
    position: fixed;
    @include adaptiv-value("right", 35, 15, 1);
    @include adaptiv-value("bottom", 35, 15, 1);
    width: 74px;
    height: 74px;
    background: #1e0044;
    border-radius: 100% 100% 15% 100%;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        &::before {
            box-shadow: 0 5px 20px 5px #763cac;
        }
    }

    &::before {
        content: "";
        background: #763cac;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        border-radius: 100% 100% 15% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: -10;
        transition: box-shadow 0.3s;
    }

    &::after {
        content: "";
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                rgba(105, 59, 147, 0.2) 0%,
                rgba(110, 191, 244, 0.04) 77.08%,
                rgba(70, 144, 212, 0) 100%), #11071f;
        width: 100%;
        height: 100%;
        border-radius: 100% 100% 15% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: -10;
    }

    &__box {
        width: 100%;
        height: 100%;
        position: relative;
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                rgba(105, 59, 147, 0.2) 0%,
                rgba(110, 191, 244, 0.04) 77.08%,
                rgba(70, 144, 212, 0) 100%), #11071f;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;

        span {
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background: #fff;
            z-index: 1;

            &:nth-child(1) {
                animation: socialsButtonsOpacityAnimation 2s infinite;
            }

            &:nth-child(2) {
                animation: socialsButtonsOpacityAnimation 4s infinite;
            }

            &:nth-child(3) {
                animation: socialsButtonsOpacityAnimation 6s infinite;
            }
        }

        &::before {
            content: "";
            width: 100%; // 90%
            height: 100%; // 90%
            transition: width 0.3s, height 0.3s;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%);
        }
    }

    &__box-link {
        opacity: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        min-width: 50px;
        min-height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        display: flex;
        transition: opacity 0.3s, bottom 0.3s, left 0.3s, right 0.3s, top 0.3s, background 0.3s;
        overflow: hidden;
        background: #11071f;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%), #11071f;
            transition: background 0.3s;
            z-index: -2;
            transition: opacity 0.3s;
            border-radius: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 100%;
            bottom: 0;
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%), radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%), #11071f;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s;
        }

        img {
            width: 24px;
            height: 24px;
        }

        &:hover {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &:nth-child(4) {
            bottom: 0;
            left: 0;
        }

        &:nth-child(5) {
            top: 0;
            left: 0;
        }

        &:nth-child(6) {
            top: 0;
            right: 0;
        }

        z-index: -1;
    }
}

.socials--active {
    .socials__box-link {
        opacity: 1;
        box-shadow: 0 0.1rem 1rem #763cac;

        &:nth-child(4) {
            bottom: 0;
            left: -70px;
        }

        &:nth-child(5) {
            top: -50px;
            left: -55px;
        }

        &:nth-child(6) {
            top: -70px;
            right: 0;
        }
    }

    .socials__box {
        &::before {
            width: 90%;
            height: 90%;
        }
    }
}

.socials--disabled {
    opacity: 0 !important;
    pointer-events: none;
}

.git {}

.breadcrumbs {
    @include adaptiv-value("padding-top", 150, 95, 1);

    &__inner {
        display: flex;
        justify-content: flex-start;
    }

    &__list {
        // padding: 15px;
        // border-radius: 12px;
        // background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
        //     rgba(105, 59, 147, 0.2) 0%,
        //     rgba(110, 191, 244, 0.04) 77.08%,
        //     rgba(70, 144, 212, 0) 100%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include adaptiv-value("gap", 12, 6, 1);
    }

    &__list-item {
        color: #fff;
        @include adaptiv-value("font-size", 16, 14, 1);
        @include adaptiv-value("line-height", 24, 20, 1);
        font-weight: 500;
    }

    &__list-link {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiv-value("gap", 12, 6, 1);
        transition: color 0.3s;

        svg {
            transform: rotate(90deg);
            @include adaptiv-value("height", 8, 6, 1);
            @include adaptiv-value("width", 13, 10, 1);

            path {
                fill: #fff;
                transition: fill 0.3s;
            }
        }

        &:hover {
            color: #9857d3;

            svg {
                path {
                    fill: #9857d3
                }
            }
        }
    }
}