@keyframes posterBigBgAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes posterSmallBgAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes posterArrowAnim {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(45deg);
    }

    100% {
        transform: rotateY(0);
    }
}

@keyframes codeBgAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bgScaleAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bgCenterScaleAnim {
    0% {
        transform: scale(1) translateX(-50%);
    }

    50% {
        transform: scale(1.2) translateX(-40%); 
    }

    100% {
        transform: scale(1) translateX(-50%);
    }
}

@keyframes advantagesDotAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2) translateY(-3px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gradientAnimation {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 250% 250%;
    }

    100% {
        background-size: 100% 100%;
    }
}

@keyframes translateYAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes aboutSectionPosterAnimatioCursor {
    0% {
        transform: translateY(0) translateX(0) scale(1);
    }

    10% {
        transform: translateY(0) translateX(0) scale(1);
    }

    35% {
        transform: translateY(-70px) translateX(-30px) scale(1);
    }

    55% {
        transform: translateY(-70px) translateX(-30px) scale(0.8);
    }

    75% {
        transform: translateY(-70px) translateX(-30px) scale(1);
    }

    100% {
        transform: translateY(0) translateX(0) scale(1);
    }
}

@keyframes movingLineAnimation {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes advantagesItemBgAnim {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 200px;
    }

    100% {
        background-position: 0;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

// @keyframes animationLineSvgPathAnimation {
//     0% {
//         fill: #fff;
//     }
//     50% {
//         fill: #1877f2;
//     }
//     100% {
//         fill: #fff;
//     }
// }

@keyframes animationLineSvgAnimation {
    0% {
        filter: unset;
        // transform: rotateY(0) scale(1);
    }

    50% {
        filter: drop-shadow(0px 0px 10px rgba(#fff, 0.45));
        // transform: rotateY(45deg) scale(1.2);
    }

    100% {
        filter: unset;
        // transform: rotateY(0) scale(1);
    }
}

@keyframes underlineAnimation {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes contactsImgAnimation {
    0% {
        transform: rotateX(45deg) rotateY(0) translateY(0) rotate(0) scale(1);
    }

    50% {
        transform: rotateX(0) rotateY(45deg) translateY(-100px) rotate(10deg) scale(1.3);
    }

    100% {
        transform: rotateX(45deg) rotateY(0) translateY(0) rotate(0) scale(1);
    }
}

@keyframes discountImgAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9) translateY(-15px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes discountTextAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-7.5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}