@media (max-width: 1100px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;

        &:last-child {
            .services-item {
                &:nth-child(2) {
                    margin-top: unset;
                    margin-bottom: unset;
                    grid-area: unset;
                    height: unset;
                    @include adaptiv-value("min-height", 250, 175, 1);
                    @include adaptiv-value("max-height", 250, 175, 1);

                    .services-item__inner {
                        @include adaptiv-value("min-height", 250, 175, 1);
                        height: unset;
                        max-height: unset;
                    }
                }
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            .services-item {
                &:nth-child(2) {
                    margin-top: unset;
                    margin-bottom: unset;
                    grid-area: 1 / 2 / 3 / 3;
                    height: 100%;
                    max-height: 100%;

                    .services-item__inner {
                        height: 100%;
                        max-height: 100%;
                    }

                    // 

                    z-index: 10;

                    .services-item__inner {
                        &::before {
                            opacity: 1;
                        }

                        &::after {
                            opacity: 1;
                        }
                    }

                    .services-item__suptext {
                        opacity: 0.1;
                        transform: translateX(0);
                    }

                    .services-item__title {
                        margin-bottom: 10px;
                    }

                    .services-item__text {
                        opacity: 1;
                        height: unset;
                        @include adaptiv-value("margin-bottom", 20, 15, 1);
                    }

                    .services-item__price {
                        opacity: 1;
                        height: unset;
                    }
                }
            }
        }
    }

    .heading__inner {
        gap: 30px;
    }

    .menu {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        @include adaptiv-value("padding-top", 100, 70, 1);
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        background: #11071f;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    .menu__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger {
        display: flex;
        position: relative;
        z-index: 101;
    }

    .logo {
        position: relative;
        z-index: 101;
    }

    .header__link {
        display: none;
    }

    .menu__list {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        border-top: 1px solid #fff;
        padding-top: 25px;
    }

    .body--menu {
        overflow: hidden;

        .burger {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translateY(3.5px) translateX(3px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translateY(-3.5px) translateX(3px);
                }
            }
        }

        .header {
            // position: unset;
            transform: unset !important;
            transition: unset !important;

        }

        .menu {
            opacity: 1;
            pointer-events: unset;
        }
    }
}

@media (max-width: 1050px) {
    .code-slide__img {
        object-position: center -30px;
    }
}

@media (max-width: 1000px) {
    .about__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about__inner {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .example__inner {
        flex-direction: column;
    }

    .example-poster__img {
        width: 100%;
    }

    .example-poster {
        display: none;
        margin-bottom: 30px;
        width: calc(85%);
        margin-left: auto;
    }

    .example--latest {
        .example-poster {
            margin-right: auto;
        }

        .example-body {
            align-items: flex-start;
        }

        .example-body__text {
            margin-left: auto;
        }

        .example-body__wrapper {
            margin-left: auto;
            margin-right: unset;
        }
    }

    .example-body {
        align-items: flex-end;

        .example-poster {
            display: block;
        }
    }

    .example-body__text {
        margin-top: -75px;
        margin-right: auto;
        min-width: unset;
        z-index: 1;
        width: calc(90%);
    }

    .example-body__wrapper {
        margin-right: auto;
    }

    .advantages-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact .poster {
        display: none;
    }

    .contact__wrapper {
        width: 100%;
    }

    .portfolio__heading {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        width: 100% !important;
    }

    .portfolio__wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .code-slide__img {
        object-position: center -25px;
    }
}

@media (max-width: 800px) {
    .heading__inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 45px;
    }

    .heading__wrapper {
        width: 100%;
    }

    .code-swiper {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-right: -15px;
        padding-left: 15px;
        margin-left: -15px;
        height: unset;
    }

    .code-slide {
        @include adaptiv-value("height", 180, 140, 1);
        margin-left: unset;
    }

    .code-slide__img {
        border-radius: 8px;
        object-position: center top;
    }

    .code-swiper__slide {
        &::after {
            opacity: 0;
        }

        &::before {
            opacity: 0;
        }
    }

    .code-swiper .swiper-slide-active {
        transform: unset;

    }

    .heading {
        @include adaptiv-value("padding-top", 175, 120, 1);
    }

    .code-swiper {
        .swiper-slide-prev {
            .code-slide__wrapper {
                opacity: 0.5 !important;
            }
        }

        .swiper-slide-next {
            .code-slide__wrapper {
                opacity: 0.5 !important;
            }
        }

        .swiper-slide {
            .code-slide__wrapper {
                opacity: 0.25;
            }
        }

        .swiper-slide-duplicate {
            .code-slide__wrapper {
                opacity: 0.25;
            }
        }

        .swiper-slide-active {
            .code-slide__wrapper {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 768px) {
    .information__inner {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    .project__wrapper {
        position: unset;
        width: max-content;
        order: 4;
        @include adaptiv-value("margin-top", 30, 20, 1);
    }

    .preview {
        position: unset;
        @include adaptiv-value("margin-bottom", 30, 20, 1);
        @include adaptiv-value("height", 300, 215, 1);

        &::after {
            content: unset;
        }
    }

    .project-info {
        order: 1;
    }

    .project__preview {
        order: 2;
    }

    .details {
        order: 3;
    }

    .project__inner {
        padding: unset;
    }

}

@media (max-width: 650px) {
    .services__wrapper {
        grid-template-columns: 1fr;

        &:nth-child(1) {
            margin-top: unset;
        }

        margin-top: -35px;

        &:nth-child(1),
        &:nth-child(2) {
            .services-item {
                &:nth-child(2) {
                    z-index: unset;
                    height: unset;
                    @include adaptiv-value("min-height", 250, 175, 1);
                    @include adaptiv-value("max-height", 250, 175, 1);

                    .services-item__inner {
                        @include adaptiv-value("min-height", 250, 175, 1);
                        height: unset;
                        max-height: unset;

                        &::before {
                            opacity: 0;
                        }

                        &::after {
                            opacity: 0;
                        }
                    }

                    .services-item__suptext {
                        opacity: 0;
                        transform: translateX(50%);
                    }

                    .services-item__title {
                        margin-bottom: unset;
                    }

                    .services-item__text {
                        opacity: 0;
                        height: 0;
                        margin-bottom: 0;
                    }

                    .services-item__price {
                        opacity: 0;
                        height: 0;
                    }

                    &:hover {
                        z-index: 10;

                        .services-item__inner {
                            &::before {
                                opacity: 1;
                            }

                            &::after {
                                opacity: 1;
                            }
                        }

                        .services-item__suptext {
                            opacity: 0.1;
                            transform: translateX(0);
                        }

                        .services-item__title {
                            margin-bottom: 10px;
                        }

                        .services-item__text {
                            opacity: 1;
                            height: unset;
                            @include adaptiv-value("margin-bottom", 20, 15, 1);
                        }

                        .services-item__price {
                            opacity: 1;
                            height: unset;
                        }
                    }
                }
            }
        }
    }


    .services-item {
        &:hover {
            .services-item__suptext {
                z-index: 1;
            }
        }
    }

    .services-item__suptext {
        @include adaptiv-value("left", 550, 80, 1);
    }

    .services-item__inner {
        background: #11071f;

        &::before {
            opacity: 1 !important;
            z-index: -1;
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%);
        }

        &::after {
            background: radial-gradient(151.92% 127.02% at 15.32% 21.04%,
                    rgba(105, 59, 147, 0.2) 0%,
                    rgba(110, 191, 244, 0.04) 77.08%,
                    rgba(70, 144, 212, 0) 100%);
            opacity: 1 !important;
        }
    }

    .services-item {
        grid-area: unset !important;

        &:hover {
            .services-item__inner {
                &::before {
                    background: #251043;
                }

                &::after {
                    background: #763cac;
                }
            }
        }

        &:nth-child(1) {
            margin-top: unset !important;
        }

        margin-top: -35px !important;
    }

    .advantages__inner {
        grid-template-columns: 1fr;
    }

    .advantages-item {
        margin-top: unset !important;
        margin-bottom: unset !important;
    }

    .footer__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__logo {
        order: 1;
    }

    .footer__wrapper {
        order: 2;
        justify-content: flex-end;
    }

    .footer__copy {
        order: 3;
        grid-area: 2 / 1 / 3 / 3;
    }

    .footer__copy {
        text-align: left;
    }
}

@media (max-width: 550px) {
    .about__inner {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .faq-list-top {
        align-items: flex-start;

        svg {
            margin-top: 5px;
        }
    }

    .portfolio__wrap {
        grid-template-columns: 1fr;
    }

    .tubs {
        max-width: calc(100% + 30px);
        padding-right: 15px;
        padding-left: 15px;
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: unset;

        &::-webkit-scrollbar {
            height: 0;
        }
    }
}

@media (max-width: 450px) {
    .about__inner {
        grid-template-columns: 1fr 1fr;
    }

    .contact-form__box {
        flex-direction: column;
    }

    .contact-form__button {
        width: 100%;
    }
}